<!DOCTYPE html>
<html>
<head>
    <title>Layout Master</title>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <nav class="green">
        <a class="navs" href="index.html">About</a>
        <a class="navs" href="index.html">Products</a>
        <a class="navs" href="index.html">Our Team</a>
        <a class="navs" href="index.html">Contact</a>
    </nav>

    <div class="zone red">

    </div>

    <div class="zone blue">
        <div class="blackBox zone">
            <img src="img\files_2.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\data_storage_2_2.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\desktop_analytics_2.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\monitor_coding_2.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\monitor_settings_2.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\server_2_2.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\server_3.png" alt="picture of a folder">
        </div>

        <div class="blackBox zone">
            <img src="img\server_safe_2.png" alt="picture of a folder">
        </div>
    </div>

    <footer class="zone yellow">Made by Paweł Benkowski</footer>
</body>
</html>
