body {
  background: yellow;
}

@media screen and (max-width: 767px) {
  body {
    background: url('./bg-mobile.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  body {
    background: url('./bg-tablet.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 900px) {
  body {
    background: url('./bg-laptop.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: url('./bg-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}