<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-nav">
    <a href="/">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png"
            alt="Logo"
            width="50"
            height="50"
        />
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
                <a class="nav-item nav-link" href="/sectors">GDP Sectors</a>
                <a class="nav-item nav-link" href="/mortality">Mortality</a>
                <a class="nav-item nav-link" href="/gdp_per_capita">GDP per capita</a>
                <a class="nav-item nav-link" href="/submit">Survey 2020</a>
        </div>
    </div>


</nav>